* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', cursive;
}

/* navbar */
.nav-bar {
    /* background-color:rgb(247, 199, 209); */
    background: rgb(242,209,200);
    background: linear-gradient(90deg, rgba(242,209,200,1) 25%, rgba(250,201,228,1) 82%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.1em 5em;
}

.avatar-1 {
    height: 70px;
    border-radius: 50%;
}

.avatar-2 {
    height: 7em;
    border-radius: 50%;
    display: block;
    margin: 2em auto 1em auto;
}

.nav-list {
    list-style: none;
    display: block;
    padding: 1.5em;
    display: inline-block;
}


.nav-list-item {
    display: block;
    float: right;
    padding: 0 0 0 2em;
}

.nav-list-item a {
    font-size: 1em;
}


.nav-list-item a,
.contact-list-item a {
    text-decoration: none;
    color:rgb(142, 70, 104);
}


.nav-list-item a:hover,
.contact-list-item a:hover,
.nav-list-item.active a {
    color:rgb(34, 129, 167);
}

/* end of navbar */



.header {
    background-image: url("./assets/geordanna-cordero-fields-2Qg4y32pdCc-unsplash.jpg");

    background-size: cover;
    height: 500px;
}

.content-section {
    max-width: 600px;
    margin: 0 auto;
}


.greeting-message {
    font-size: 4em;
    text-align: center;
    color:rgb(142, 70, 104);
    padding: 3em 0 0 0;
    font-family: 'Chilanka', cursive;
}

.greeting-description {
    font-size: 1em;
    text-align: center;
    color:rgb(142, 70, 104);
    /* padding: 3em 0 0 0; */
    font-family: 'Chilanka', cursive;
}

.greeting-hi {
    text-align: center;
    color:rgb(142, 70, 104);
    padding: 0.5em 0 0 0;
    display: block;
}

.greeting {
    text-align: center;
    color:rgb(142, 70, 104);
    padding: 4em 0 0 0;
    display: block;
}


.self-intro {
    text-align: center;
    color:rgb(99, 8, 52);
    padding: 1em 0;
    line-height: 2;
}

.contact-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-list-item {
    display: block;
    padding: 0 .5em 0 20px;
    line-height: 29px;
    overflow: hidden;
    margin: 1em;
}

.contact-list-right {
    padding: 0 .5em 0 7em;
}

.contact-list-item a:hover .contact-icon {
    filter: invert(.3) sepia(1) saturate(5) hue-rotate(160deg);
}

.contact-icon {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    height: 30px;
    filter: invert(.3) sepia(1) saturate(5) hue-rotate(290deg);
}

.contact-link {
    padding: 0.5em;
}


/* projects */

.just-dance {
    background:rgb(78, 77, 102);
}

.project-section {
    margin-bottom: 6em;
    padding: 4em;
}

.project-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.project-name {
    text-align: center;
    color: whitesmoke;
    padding: 0.5em 0 0 0;
    display: block;
    padding: 0 0 0.5em 0;
}

.project-link {
    text-align: center;
    display: block;
    color:whitesmoke;
    text-decoration: none;
    margin: 0.5em;
}

.project-link:hover {
    text-decoration: underline;
}

.project-description {
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding: 1em 4em;
}

/* footer */

.page-footer {
    padding: 1em;
    background: rgb(242,209,200);
    background: linear-gradient(90deg, rgba(242,209,200,1) 25%, rgba(250,201,228,1) 82%);
}

.copy-right-display {
    text-align: center
}
